include LICENSE.txt
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include CoC.md
include SECURITY.md
include pyproject.toml
include json-orm/py.typed

recursive-include json-orm *.py *.pyi *.json
recursive-include tests *.py
recursive-include docs *.rst *.py *.bat *.txt *.md
recursive-include examples *.py *.ipynb

recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude * *.so
recursive-exclude * .DS_Store
recursive-exclude * .env
recursive-exclude * .venv
recursive-exclude * *.egg-info
recursive-exclude * .git*
recursive-exclude * .idea
recursive-exclude * .vscode
